<%= form_for([@setlist, @setlist_permission]) do |f| %>
    <label>User Email</label><br>
    <%= f.text_field :user_email %><br>
    <label>Permission Level</label><br>
    <%= f.select :permission, ([['view', 100], ['edit', 10], ['destroy', 0]]) %>
    <%= f.hidden_field :setlist_id %>
    <br>
    <br>
    <%= submit_tag "Edit" %>
    <% end %>
