<br>
<h1>Edit Setlist</h1>
<br>
<%= link_to "Setlist permissions", setlist_setlist_permissions_path(@setlist) %> | <%= link_to "Create a new song to include in this setlist", new_setlist_song_path(@setlist) %>
<br>
<%= render partial: "layouts/errors", locals: {object: @setlist} %>
<br>
<%= render 'form' %>
<%= button_to "Delete Setlist", setlist_path(@setlist), method: :delete, data: { confirm: "Would you like to delete this setlist? This cannot be undone." }, class:"delete-button#{show_hide_delete @setlist}" %>