<h1>New Setlist</h1>

<%= form_for(@setlist) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  
  <%= f.label :location %>
  <%= f.text_field :location %><br>
  
  <%= f.label :date %>
  <%= f.date_field :date %><br>
  
  <%= f.submit "Create" %>
<% end %>