<h1><%= @setlist.title %></h1>
<h2><%= @setlist.location %></h2>
<h2><%= @setlist.date %></h2>

<% @setlist.songs.each do |s| %>
    <%= link_to s.title, song_path(s) %> | <%= s.id %>
    <br>
  <% end %>

  <%= link_to "Create new song", new_setlist_song_path(@setlist.id) %>