<h1><%= @setlist.title %></h1>
<h2><%= @setlist.location %></h2>
<h2><%= @setlist.date %></h2>

<% @setlist.song_selections.each do |ss| %>
  <%= link_to ss.song_title, song_path(ss.song_id) %> | <%= ss.id %>
  <br>
<% end %>

<%= link_to "Edit", edit_setlist_path(@setlist) %>