<h1>New Song</h1>

<% if @song.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

    <ul>
      <% @song.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@setlist, @song]) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :songwriter %>
  <%= f.text_field :songwriter %>
  <br>
  <br>
  <%= f.label :tempo %>
  <%= f.text_field :tempo %>
  <br>
  <br>
  <%= f.label :key %> ♭
  <%= f.text_field :key %>
  <br>
  <br>
  <%= f.label :note %>
  <%= f.text_area :note %>
  <br>
  <br>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <br>
  <br>
  <%= f.fields_for :lines do |l| %>
    <%= l.text_field :lyrics %> | <%= l.text_field :chords %> | <%= l.number_field :line_number %><br>
  <% end %>
  
  <br>
  <br>
  <%= f.submit "Create" %>
<% end %>