<h1> <%= @song.title %> </h1>
<h2> <%= @song.songwriter %> </h2>
<p> Tempo: <%= @song.tempo %> | Key: <%= @song.key %> </p>
<p> <%= @song.note %> <p>
<p> <%= @song.link %> <p>

<% @song.lines.each do |l| %>
    <%= l.lyrics %>
    <%= l.chords %><br>
<% end %>

<%= link_to "Edit", edit_song_path(@song) %>