<br><h1> <%= @song.title %> </h1>
<h2> <%= @song.songwriter %> </h2>
<br>
<p> Tempo: <%= @song.tempo %> | Key: <%= @song.key %> </p>
<p> <%= @song.note %> <p>
<p> <%= @song.link %> <p>
<br>
<% @song.lines.each do |l| %>
    <div class="line-wrapper">
      <div class="lyrics-column">
        <p><%= l.lyrics %></p>
      </div>
      <div class="chords-column">
        <p><%= l.chords %><br></p>
      </div>
    </div>
<% end %>
<br>
<%= link_to "Edit", edit_song_path(@song) %>